.slider {
    width: 300px;
    padding: 2em;
    user-select: none;
}

.slider * {
    user-select: none;
}

.rail {
    width: 100%;
    position: relative;
    height: 3px;
    background: #b8d2c7;
}

.wheel {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0%;
}

.wheel::after {
    content: "";
    position: relative;
    display: block;
    cursor: pointer;
    background: #59b18c;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    left: -12.5px;
    top: -12.5px;
    transition: transform 0.4s;
}

.wheel.active::after {
    transition: transform 0.4s;
    transform: scale(1.2);
}

.wheel-animation::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: -1;
    background: #59b18c;
    animation: wheel;
    animation-duration: 0.4s;
    left: -12.5px;
    top: -12.5px;
}

@keyframes wheel {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}
